services:
  api:
    build: .
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db
  bot:
    build: .
    env_file:
      - .env
    depends_on:
      - db
    command: ["python", "-m", "saver.presentation.bot.main"]
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: saver
      POSTGRES_USER: saver
      POSTGRES_PASSWORD: saver
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
